menu "Example Configuration"

    config ENABLE_MEMORY_PROFILING
        bool "Enable Memory Profiling"
        default n
        help
            Enable this option to include memory profiling features in the example.
            This will allow you to monitor memory usage during runtime.

    config ONEWIRE_DATA_PIN
        int "OneWire Data Pin"
        default 18
        help
            Default OneWire Data Pin

    config VOLTAGE_READ_PIN
        int "Battery Voltage Read"
        default 0
        help
            Default Voltage Input Pin

    config SENSOR_READ_INTERVAL
        int "Sensor Read Interval (ms)"
        default 10000
        help
            Interval in milliseconds for reading sensor data.

endmenu

