menu "Boiling Matter Configuration"

    config ENABLE_MEMORY_PROFILING
        bool "Enable Memory Profiling"
        default n
        help
            Enable this option to include memory profiling features in the example.
            This will allow you to monitor memory usage during runtime.

    config ONEWIRE_DATA_PIN
        int "OneWire Data Pin"
        default 18
        help
            Default OneWire Data Pin

    config VOLTAGE_READ_PIN
        int "Battery Voltage Read"
        default 0
        help
            Default Voltage Input Pin

    config SENSOR_READ_INTERVAL
        int "Sensor Read Interval (ms)"
        default 10000
        help
            Interval in milliseconds for reading sensor data.

    config USE_WINDOW_FOR_VOLTAGE_SMOOTHING
        bool "Use Window for Voltage Smoothing"
        default n
        help
            Enable this option to use a window-based approach for smoothing voltage readings.
            This can help reduce noise in the voltage measurements.

    config USE_EMA_FOR_VOLTAGE_SMOOTHING
        bool "Use EMA for Voltage Smoothing"
        default y
        help
            Enable this option to use an Exponential Moving Average (EMA) for smoothing voltage readings.
            This method gives more weight to recent readings, which can help in tracking changes in voltage more effectively.

endmenu

